{% extends 'base.html' %}
{% block content %}
<center>
    <h1>{% block title %} Welcome to Flask Shortener {% endblock %}</h1>
</center>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" action="{{ url_for('create') }}">
            <div class="form-floating mb-3">
                <input type="text" name="url" id="url"
                    placeholder="Enter your long URL" class="form-control"
                    value="{{ request.form['url'] }}" autofocus>
                <label for="url">URL</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="short_url" id="short_url"
                    placeholder="Enter your short url" class="form-control"
                    value="{{ request.form['short_url'] }}">
                <label for="short_url">Your short URL</label>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary">Shorten</button>
            </div>
            </form>
            {% if short %}
            <hr>
            <span><a href="{{ short }}" target="_blank"></a></span>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}